@page "/Simulated"
@using MudBlazor.Utilities
@inject IJSRuntime Js

<MudGrid>
    <MudItem xs="3">
        <MudButton OnClick="@Play" Variant="Variant.Outlined" Color="Color.Primary">PLAY</MudButton>
    </MudItem>
    <MudItem xs="3">
        <MudButton OnClick="@Stop" Variant="Variant.Outlined" Color="Color.Primary">STOP</MudButton>
    </MudItem>
    <MudItem xs="6" Style="margin-top:-15px;">
        <MudSelect T="string" Value="@Track" Dense="true" Variant="Variant.Text" Label="Track" ValueChanged="@(s => SetTrack(s))"
                   Adornment="Adornment.End" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Filled.Download" OnAdornmentClick="@Reset">
            <MudSelectItem Value="@("Scanned")"/>
            <MudSelectItem Value="@("Restructured")"/>
        </MudSelect>
    </MudItem>
</MudGrid>

<div id="strudel" style="max-height: 80vh; overflow-y: scroll;"></div>

<MudGrid>
    <MudItem xs="3">
        <MudButton Color="@(Pattern[0] ? Color.Primary : @Color.Info)" OnClick="@(async () => await SetPattern(0, !Pattern[0]))" Variant="Variant.Outlined">d1</MudButton>
    </MudItem>
    <MudItem xs="3">
        <MudButton Color="@(Pattern[1] ? Color.Primary : @Color.Info)" OnClick="@(async () => await SetPattern(1, !Pattern[1]))" Variant="Variant.Outlined">d2</MudButton>
    </MudItem>
    <MudItem xs="3">
        <MudButton Color="@(Pattern[2] ? Color.Primary : @Color.Info)" OnClick="@(async () => await SetPattern(2, !Pattern[2]))" Variant="Variant.Outlined">d3</MudButton>
    </MudItem>
    <MudItem xs="3">
        <MudButton Color="@(Pattern[3] ? Color.Primary : @Color.Info)" OnClick="@(async () => await SetPattern(3, !Pattern[3]))" Variant="Variant.Outlined">d4</MudButton>
    </MudItem>
</MudGrid>

@code
{
    [CascadingParameter]
    MainLayout MainPage { get; set; }

    public string Track { get; set; } = "Restructured";
    public List<bool> Pattern { get; set; } = new() { true, true, true, true };

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        MainPage.Page = MainLayout.Pages.Simulated;
        MainPage.Refresh();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("StrudelInit");
        }
    }

    public async Task Play()
    {
        await Js.InvokeVoidAsync("StrudelPlay");
    }

    public async Task Stop()
    {
        await Js.InvokeVoidAsync("StrudelStop");
    }

    public async Task Reset()
    {
        await SetTrack(Track);
    }

    public async Task SetPattern(int index, bool value)
    {
        Pattern[index] = value;
        await Js.InvokeVoidAsync("StrudelSetPattern", index, value);
    }

    public async Task SetTrack(string track)
    {
        Track = track;
        for (int i = 0; i < Pattern.Count; i++) Pattern[i] = true;
        await Js.InvokeVoidAsync("StrudelSetCode", track.ToLower());
        await Js.InvokeVoidAsync("StrudelPlay");
    }
}